.roundCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.roundCard {
    border-radius: 30px;
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 2px solid rgb(0, 82, 51);
    box-shadow:    3px 3px 3px 3px rgb(130, 149, 160)
}

.roundCard:hover {
    background-color: rgb(193, 255, 190);
    border: rgb(0, 82, 51) solid 2px;
}