.roundCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.roundCard {
    border-radius: 30px;
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 2px solid rgb(123, 168, 245);
    box-shadow:    3px 3px 3px 3px rgb(130, 149, 160)
}

.roundCard:hover {
    background-color: rgb(199, 213, 255);
    border: rgb(51, 118, 235) solid 1px;
}