.container--login {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10em;
    align-items: center;
}

.form--login {
    background-color: rgb(0, 107, 84);
    align-items: center;
    box-shadow: 0 4px 40px 0 rgba(0,0,0,10), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 3em;
    padding-bottom: 30px;
}

.login--header {
    text-align: center;
    color: rgb(234, 255, 0);
    font-size: 4em;
    margin: 0%;
    background-color: rgb(0, 107, 84);
}

.pleaseSignIn {
    text-align: center;
    color: white;
}

.login--fieldset {
    background-color: rgb(0, 107, 84);
    display: flex;
    border-style: solid;
    border-color: rgb(0, 107, 84);
    display: flex;
    justify-content: center;
}

.registerLink {
    text-align: center;
    margin-top: 20px;
}

.signInButton {
    align-items: center;
    color: rgb(0, 107, 84);
    background-color: white;
    border-color: white;
    border-style: solid;
    transition-duration: 0.6s;
}

.signInButton:hover {
    background-color: rgb(0, 107, 84);
    color: white;
    border-color: rgb(252, 231, 0);
}

.email--label {
    color: white;
}